.ant-layout{
  padding: 10px;
}
.dark{
  background-color: rgb(54, 63, 71);
  color: white;
}
.light{
  background-color: aliceblue;;
  color: black
}
@media screen and (max-width: 900px) {
  .ant-layout{
    padding: 10px;
  }
  .ant-card-head {
    padding: 0;
  }
  .ant-card {
    margin-bottom: 10px;
  }

}